.stats {
    display: flex;
    margin: 12px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 400px;
}

.stats > img {
    width: 80%;
    max-width: 400px;
    margin:auto;
}

.stats-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#statistics {
    text-align: left;
    padding: 24px 12px;
}

#statistics-container{
    display: flex;
    justify-content: center;
}

#previous-sleep-data {
    display: inline-flex;
    width: 90%;
    max-width: 450px;
}

#previous-sleep-data > div {
    flex: 1;
    max-width: 200px;
    margin: 8px;
    /* height: 80px; */
}

#previous-sleep-data-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.preview-image > img {
    width: 100%;
}

