#sleep-pattern {
    display: flex;
    margin: 12px;
    width: 80%;
    max-width: 300px;
}

#sleep-pattern-container {
    display: flex;
    justify-content: center;
}

#statistics {
    text-align: left;
    padding: 24px 12px;
}



