#home-page {
    background-color: #5261F8;
    color: #F6F7FB;
    padding: 19px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#recent-activities {
    color: #292A46;
}

#recent-activities > div {
    color: #F6F7FB;
}

#Slider-Div {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    overflow: hidden;
}

.activity-preview {
    padding: 12px;
    background-color: #8E9BFB;
    border-radius: 12px;
    margin: 8px 0;
}

.details {
    display: flex;
    justify-content: space-between;
}

#tiles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

#tiles-container > div {
    border-radius: 12px;
    min-height: 100px;
    vertical-align: bottom;
    padding: 8px;
}

#tile-header, #recent-activities{
    color: #292A46;
    font-weight: bold;
    margin: 4px 0;
}

.tile {
    position: relative;
}

.tile-content {
    position: absolute;
    bottom: 16px;
}

.slider {
    position: absolute;
    width: 100%;
    /* height: 78%; */
    height: 110%; 
    top: 0;
    overflow: hidden;
    background-color:#292A46; 
    color: #FFF;
    transition: all 0.8s;
  }
  
  .slider.close {
    /* top: 77%; */
    top: 110%;
    height: 0;
  }

#Slider-Div {
    margin-top: 98px;
}


#Slider-Div > div{
    height: 100%;
}


.large-header {
    font-size: 24px;
}

.larger-header {
    font-size: 30px;
}

#shortcuts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#recent-activities-container {
    display: flex;
    flex-direction: column;
}