#gratitude {
    background-color: #5261F8;
    height: 100%;
    text-align: center;

}

#gratitude > img{
    width: 300px;
}

#meditation-header {
    margin: 16px;
}

#playlist {
    display: flex;
    width: 120%;
    overflow: hidden;
    gap: 12px;
    padding: 16px;
}

#gratitude > .larger-header {
    text-align: left;
    padding-left: 16px;
}

