#gratitude {
    background-color: #5261F8;
    height: 100%;
    text-align: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

#gratitude > img{
    width: 350px;
}

#meditation-header {
    margin: 16px;
}